{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'cakehouse/estilos/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cakehouse/estilos/registro.css' %}">
<body>
    <aside id="login">
      <div id="texto">
        <h1>Bienvenido a Cake House</h1>
        <h3>Regístrate y encuentra todos nuestros productos</h3>
      </div>
    </aside>
    <main>
      <div class="contenedor">
        <h1>Inicio de sesión</h1>
        <h3 id="subtitulo">Ingresa tus datos</h3>
        <button
          type="button"
          class="btn d-grid gap-2 col-6  mx-auto boton"
          id="boton_limpiar"
        >
          <img id="imagen" src="img/broom.png" alt="" />Limpiar los campos
        </button>

        <form action="{%url 'cakehouse:inicses'%}" id="registro" class="row g-3 m-3" method="POST">
          {% csrf_token %}
            <div id="input_login1" class="col-md-12 pb-4 mb-5 mt-5">
                <label for="" class="form-label">Usuario:</label>
                <input
                type="text"
                class="form-control"
                id="rut_login"
                name="usuario"
                placeholder="Juan"
                />
                <p class="error mt-3">
                <img src="img/error.png" alt="" /> El usuario ingresado no es válido, debe contar con puntos y guión
                </p>
                <p class="correcto mt-3">
                <img src="img/check.png" alt="" /> Los campos están correctos
                </p>
            </div> 
            <div id="input_login2" class="col-md-12 pb-4 mb-5">
                <label for="inputAddress" class="form-label">Contraseña:</label>
                <input
                type="password"
                class="form-control"
                id="contraseña_login"
                placeholder="Contraseña"
                name="clave"
                />
                <p class="error mt-3">
                <img src="img/error.png" alt="" /> La contraseña debe tener de 6 a 8 caracteres, entre números y letras
                </p>
                <p class="correcto mt-3">
                <img src="img/check.png" alt="" /> Los campos están correctos
                </p>
            </div>    
            <div id="alerta" class="align-items-center mx-auto">
                <p>
                <img src="img/error.png" alt="" /> Todos los campos deben estar completados y correctos para continuar
                </p>
            </div>
            <button
                type="submit"
                class="btn d-grid gap-2 col-md-6 col-sm-12 mx-auto boton"
                id="boton_login"
            >
                <img id="imagen" src="img/check.png" alt="" />Iniciar sesión
            </button>
        </form>
      </div>
      <footer class="bg-success">
        <div>
          <p class="text-light" id="txt">
            Todos los derechos reservados Cake House©
            <span class="sr-only">(current)</span>
          </p>
        </div>
      </footer>
    </main>
    <div class="social_bar">
      <a href="" class="icon icon_facebook"
        ><img src="img/facebook.png" alt=""
      /></a>
      <a href="" class="icon icon_instagram"
        ><img src="img/instagram.png" alt=""
      /></a>
    </div>
  </body>
</html>
